################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PremiumposIntegrationApi/appsettings.json
/.vs
/PremiumposIntegrationApi/obj/Debug/net9.0
